<template>
  <div class="hello">
    <!-- <h1>{{ msg }}</h1> -->
    <div style="margin-left:-50%;">
        <input type="text" v-model="input" @keyup.enter="submit">
        <div v-for = "(todo,index) in checkbox " :key="index" v-if="!todo.isCompleted">
          <router-link :to="todo.encriptionKey">{{todo.name}}</router-link><input type="checkbox"  @change="parent_checkbox_change(todo.name,todo.isCompleted,index)" v-model="todo.isCompleted" >
        </div>
        <h1>Completed Data</h1>
        <div v-for="(todo,index) in checkbox" :key="index" v-if="todo.isCompleted" >
          <router-link :to="todo.encriptionKey">{{todo.name}}</router-link><input type="checkbox"  @change="parent_checkbox_change(todo.name,todo.isCompleted)" v-model="todo.isCompleted" >
        </div> 
    </div>
    <div>
   <!--  <childcomponent :myData ='myDatas' :checkbox ='notes_check_box' :tododatee="notes_date" :notes='notes_todo_list' :todoListKey="todoListKey"  @clicked="change_child_component_checkbox">
    </childcomponent> -->
     <childcomponent  @clicked="change_child_component_checkbox">
    </childcomponent>
    </div>
  </div> 
</template>

<script>
import childcomponent from './TodoList.vue'
export default {
  name: 'HelloWorld',
  components: {
    childcomponent
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      input:'',
      todoListKey:'',
      checkbox:[],
       myDatas: '',
       notes_check_box :'',
       notes_todo_list:'',
       notes_date:''
    }
  },
  methods:{
    submit:function(){
      var todoEncriptionKey = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
      this.checkbox.push({name:this.input,encriptionKey:todoEncriptionKey,isCompleted:false,notes:''});
                this.input = '';
        localStorage.setItem('todos', JSON.stringify(this.checkbox));
    },

    change_child_component_checkbox:function(title_name,isCompleted){
      // console.log(JSON.parse(localStorage.todos));
      this.notes_check_box = isCompleted;
      const data1 =  JSON.parse(localStorage.todos);
      for(var i =0;i<data1.length;i++){
          if(data1[i].name == title_name){
              data1[i].isCompleted = isCompleted;
          }         
       }
       localStorage.setItem("todos", JSON.stringify(data1));
       const localStorage_value = JSON.parse(localStorage.todos);
        this.checkbox = localStorage_value;
       
    },
    parent_checkbox_change:function(old_name,isCompleted){
      this.notes_check_box = isCompleted;
      const data =  JSON.parse(localStorage.todos);
       for(var i =0;i<data.length;i++){
          if(data[i].name == old_name){
              data[i].isCompleted = isCompleted;
          }         
       }
       localStorage.setItem("todos", JSON.stringify(data));
        // JSON.parse(localStorage.todos);
        // console.log(name + '-----' + isCompleted);
    },
    pass_value_to_child_component:function(todo_name,isCompleted,index){
      this.todoListKey  = index;
      this.myDatas = todo_name;
      this.notes_check_box = isCompleted;
      this.notes_date = '';
      this.notes_todo_list = '';
      
        const localStorage_notes = JSON.parse(localStorage.todos);
      // for(var i =0;i<localStorage_notes.length;i++){
      //     if(localStorage_notes[i].name == todo_name){
              this.notes_todo_list =  localStorage_notes[index].notes;
      //         this.notes_date      =  localStorage_notes[i].tododate;
      //     }
              
      //  }

    }
  },
  mounted() {
      if(localStorage.todos){
        const localStorage_value = JSON.parse(localStorage.todos);
        this.checkbox = localStorage_value;
       //  for(var i =0;i<localStorage_value.length;i++){
       //    if(localStorage_value[i].encriptionKey === this.$route.params.key){
       //      this.todoListKey = i;
       //      this.myDatas = localStorage_value[i].name;
       //      this.notes_check_box = localStorage_value[i].isCompleted;
       //      this.notes_todo_list = localStorage_value[i].notes;
       //        // localStorage_value[i].isCompleted = isCompleted;
       //    }         
       // }


      }
  },
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>