<template>
	<div>
		<h1>Hello World</h1>
		{{ $route.params.id }}
	</div>
</template>
<script>
export default {
	name: 'NewRoute',
	data () {
		return {
			msg: 'Welcome to Your Vue.js App',
		}
	}
}
</script>