<template>
    <div>
      <p style="margin-top:-175px">
        <div v-for="(todoData,index) in todoDetails" v-if="todoData.encriptionKey == encriptionKey">
          <input type="checkbox" @change="title_checkbox_change_clientcomponent_to_parent(todoData.name,todoData.isCompleted)"  v-model="todoData.isCompleted" />{{todoData.name}}<br /><br />
           <textarea v-model="todoData.notes"  placeholder="add multiple lines" ></textarea><br /><br />
            <input type="button" @click="updateTodoDetails(index,todoData.isCompleted,todoData.notes)" value="Update Todo Notes" >
        </div>  

        <!-- <div v-if="myData ==''"></div>
        <div v-else>
          <h1>Add Notes </h1>
          {{this.$route.params.key}}
          {{tododatee}} <br /><br />
          {{myData}}<input type="checkbox" @change="title_checkbox_change_clientcomponent_to_parent(myData,checkbox)" v-model="checkbox" /><br /><br />
          <textarea v-model="notes"  placeholder="add multiple lines" ></textarea><br /><br />
          <input type="button" value="Save Data" @click="add_new_todo(todoListKey,notes)" >
        </div> -->
      </p>
    </div>
  </template>
<script>
export default {
  name: 'childcomponent',
  // props: ['myData','checkbox','notes','tododatee','todoListKey'],
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      encriptionKey: '',
      todoDetails : [],
    }
  },
  methods: {
    // add_new_todo: function(key,title) {
    //   var today = new Date();
    //   var dd = today.getDate();
    //   var mm = today.getMonth()+1; //January is 0!
    //   var yyyy = today.getFullYear();
    //   today = dd + '/' + mm + '/' + yyyy;
    //   this.notes = '';
    //     if(localStorage.getItem('todos')){
    //       var localstorage_value = localStorage.getItem('todos');
    //       var todos_data =    JSON.parse(localstorage_value);
    //       todos_data[key].notes = title;
    //       this.todolist_notes = todos_data;
    //       // console.log(todos_data);
    //         // var tododata =   JSON.parse(localStorage.getItem('todos'));
    //         // console.log(tododata);
    //         // this.todolist_notes.push({name:name,title:title,tododate:today});
    //         localStorage.setItem('todos',JSON.stringify(this.todolist_notes));
    //     }
    //     // else{
    //     //    this.todolist_notes.push({name:name,title:title,tododate:today});
    //     //    localStorage.setItem('notes',JSON.stringify(this.todolist_notes));
    //     // }
    // },
    title_checkbox_change_clientcomponent_to_parent:function(title,isCompleted){
      this.$emit('clicked',title,isCompleted);
    },
    viewTodoList:function(){
      var localStorageValue =  localStorage.getItem('todos');
       this.todoDetails  = JSON.parse(localStorageValue);
    },
    updateTodoDetails:function(index,isCompleted,newtodoInformation){
      var localStorageValue =  localStorage.getItem('todos');
      var todoUpdate    = JSON.parse(localStorageValue);
      todoUpdate[index].isCompleted = isCompleted;
      todoUpdate[index].notes = newtodoInformation;
      this.todoDetails = todoUpdate;
      localStorage.setItem('todos',JSON.stringify(this.todoDetails));
    },
  },

  mounted(){
    this.encriptionKey = this.$route.params.key;
    this.viewTodoList();
  },

  watch:{
    "$route.params.key":function(newVal){
      this.encriptionKey = newVal;
      this.viewTodoList();
    }
  }
  
}
</script>
<style scoped>
  p {
    margin-top:75px;
  }
</style>