<template>
	<div>
		 <!-- <h1>Add Notes </h1>
          {{this.todoTitle}}<input type="checkbox"  v-model="this.todoCheckboxStatus" /><br /><br />
          <textarea v-model="this.todoNotes"  placeholder="add multiple lines" ></textarea><br /><br />
          <input type="button" value="Update Data" > -->
        <div v-for="(todoData,index) in todoDetails" v-if="todoData.encriptionKey === encriptionKey">
        	<h1>Your Key is Correct</h1>
        	<input type="checkbox"  v-model="todoData.isCompleted" />{{todoData.name}}<br /><br />
        	 <textarea v-model="todoData.notes"  placeholder="add multiple lines" ></textarea><br /><br />
          	<input type="button" @click="updateTodoDetails(index,todoData.isCompleted,todoData.notes)" value="Update Todo Notes" >
        </div>  
	</div>
</template>
<script>
export default {
	name: 'ViewTodoList',
	data () {
		return {
			// todoTitle:'',
			// todoCheckboxStatus:'',
			// todoNotes:'',
			msg: 'Welcome to Your Vue.js App',
			encriptionKey: this.$route.params.id,
			todoDetails : [],
			// todoFormData:[],
		}
	},
	methods:{
		viewTodoList:function(){
			var localStorageValue =  localStorage.getItem('todos');
			 this.todoDetails  = JSON.parse(localStorageValue);

			// var todoData = JSON.parse(localStorageValue);
		// 	for(var i = 0;i<todoData.length;i++){
		// 		if(todoData[i].encriptionKey == this.encriptionKey){
		// 		this.localStorageKey = i;
		// 		this.todoTitle = todoData[i].name;
		// 		this.todoCheckboxStatus = todoData[i].isCompleted;
		// 		this.todoNotes	= todoData[i].notes;
		// 	}else{
		// 		console.log('error Value');
		// 	}
		// }
		// console.log(todoData);
		},
		updateTodoDetails:function(index,isCompleted,newtodoInformation){
			var localStorageValue =  localStorage.getItem('todos');
			var todoUpdate 	  = JSON.parse(localStorageValue);
			todoUpdate[index].isCompleted = isCompleted;
			todoUpdate[index].notes = newtodoInformation;
			this.todoDetails = todoUpdate;
			localStorage.setItem('todos',JSON.stringify(this.todoDetails));
		}
	},
	mounted(){
		this.viewTodoList();
	}
	
}
</script>